<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>TODO</title>
</head>
<body>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
       <% newListItems.forEach((item) =>{ %>
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" value ="<%= item._id %>" onchange="this.form.submit()">
                <p><%= item.name %></p>
            </div>
        </form>
       <% })%>
        <form action="/" method="post" class="item">
       <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
       <button type="submit" name="list" value=<%=listTitle%>>+</button>
       </form>
    </div>

</body>
</html>