<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>TODO</title>
</head>
<body>
    <div class="box" id="heading">
        <h1> <%= kindofday %> </h1>
    </div>

    <div class="box">
        <% for(var i = 0; i < newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>
        <form action="/" method="post" class="item">
       <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
       <button type="submit" name="button">+</button>
       </form>
    </div>

</body>
</html>