<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
<h1> <%= kindofday %> </h1>
<ul>
   <% for(var i = 0; i < newListItems.length; i++){ %>
<li><%= newListItems[i] %> </li>
   <% } %>
</ul>
 <form action="/" method="post">
<input type="text" name="newitem">
<button type="submit" name="button">Add</button>
</form>
</body>
</html>